<div class="footer">
  <a><i class="fa-solid fa-shield-halved"></i>PRIVACY POLICY</a>
  <a href="https://www.linkedin.com/in/vikrant-vikrant-0a58b636b/"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
  <a href="https://github.com/vikrant-vikrant"><i class="fa-brands fa-github"></i>Github</a>
</div>
