<nav>
  <p>
    <% if(currUser){%>
    <a href="/students">
    <%}else{%>
      <a href="/home">
    <%}%>
      <i class="fa-solid fa-graduation-cap"></i>FeeFlow
    </a>
  </p>
  <div class="info">
    <% if(currUser){ %>
    <div class="profile" title="Account settings" role="button">
      <img
          src="https://ui-avatars.com/api/?name=<%=currUser.username%>&bold=true&background=31312f&color=f3efea"
          alt="Img"
        />
    </div>
    <%}%>
    <% if(!currUser){ %>
    <a class="nav-link active login-out" aria-current="page" href="/signup"
      ><i class="fa-solid fa-user-plus"></i><h4>Signup</h4></a
    >
    <a href="/login"><i class="fa-solid fa-right-to-bracket"></i><h4>Login</h4></a>
    <%}%>
  </div>
</nav>
<div class="menu hide">
  <ul>
    <li><i class="fa-solid fa-user"></i><span><%= currUser ? currUser.username : 'User' %></span>
      <a href="/students"><li><i class="fa-solid fa-user-group"></i><span>Students</span></li></a>
      <a href="/students/newStudent"><li><i class="fa-solid fa-user-plus"></i><span>Add Student</span></li></a>
      <a href="/fund"><li><i class="fa-solid fa-wallet"></i><span>Fund</span></li></a>
      <a href="/archived"><li><i class="fa-solid fa-users-slash"></i><span>Archive</span></li></a>
      <a href="/logout"><li><i class="fa-solid fa-right-to-bracket"></i><span>Logout</span></li></a>
  </ul>
</div>
<% if(success && success.length){ %>
<div class="notifications">
  <div class="toast success">
    <i class="fa-solid fa-circle-check"></i>
    <div class="content">
      <div class="title"><%= success %></div>
    </div>
    <i class="fa-solid fa-xmark" onclick="this.parentElement.remove()"></i>
  </div>
</div>
<% } %> <% if(error && error.length){ %>
<div class="notifications">
  <div class="toast error">
    <i class="fa-solid fa-circle-xmark"></i>
    <div class="content">
      <div class="title"><%= error %></div>
    </div>
    <i class="fa-solid fa-xmark" onclick="this.parentElement.remove()"></i>
  </div>
</div>
<% } %>
<script>
  const profileImg = document.querySelector(".profile img");
  const menu = document.querySelector(".menu");
  profileImg.addEventListener("click", (e) => {
    e.stopPropagation();
    menu.classList.toggle("hide");
  });
  document.addEventListener("click", () => {
    menu.classList.add("hide");
  });
  menu.addEventListener("click", (e) => {
    e.stopPropagation();
  });
  document.addEventListener("DOMContentLoaded", () => {
    const toast = document.querySelector(".toast");
    if (toast) {
      setTimeout(() => {
        toast.remove();
      }, 3000);
    }
  });
</script>