<nav>
  <p>
    <a href="/home">
      <i class="fa-solid fa-graduation-cap"></i>THE DYNAMIC
      <span>VISION</span>
    </a>
  </p>
  <div class="info">
    <a href="/dashboard"
      ><i class="fa-solid fa-chart-line"></i>
      <h4>Dashboard</h4></a
    >
    <a href="/students"
      ><i class="fa-solid fa-user-group"></i>
      <h4>All Students</h4></a
    >
    <a href="/fund"
      ><i class="fa-solid fa-wallet"></i>
      <h4>Fund</h4></a
    >
    <% if(!currUser){ %>
    <a class="nav-link active login-out" aria-current="page" href="/signup"
      ><i class="fa-solid fa-user-plus"></i><h4>Signup</h4></a
    >
    <a href="/login"><i class="fa-solid fa-right-to-bracket"></i><h4>Login</h4></a>
    <%}%> <% if(currUser){ %>
    <a href="/logout"> <i class="fa-solid fa-right-from-bracket"></i><h4>Logout</h4></a>
    <%}%>
  </div>
</nav>
<div><%- include("../includes/flash.ejs") %></div>
