<nav>
  <p>
    <a href="/home">
      <i class="fa-solid fa-graduation-cap"></i>THE DYNAMIC
      <span>VISION</span>
    </a>
  </p>
  <div class="info">
    <a href="/dashboard"><h4>Dashboard</h4></a>
    <a href="/students"><h4>All Students</h4></a>
    <a href="#"><h4>Fund</h4></a>
  </div>
</nav>
