<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="/css/blog.css" />
<body>
  <div class="main">
    <div class="page1">
      <div class="blog-hero">
        <%- include('../includes/navbar')%>
        <div class="hero">
          <div class="left">
            <div class="hero-left-text left-text">
              <p class="corner">Welcome to our blog corner!</p>
              <h1 class="explore">Explore, <span>Learn</span> & Grow<br /></h1>
              <p>
                We believe that learning extends beyond textbooks. Through
                creativity,<br />curiosity, and fun, we aim to nurture young
                minds.
              </p>
            </div>
            <div class="fetures">
              <h3 class="deep">
                <i class="fa-solid fa-circle-check"></i> Problem-solving ideas
              </h3>
              <div class="line">
                <h3>
                  <i class="fa-solid fa-circle-check"></i>Creative DIY
                  activities&nbsp;
                </h3>
                <h3>
                  <i class="fa-solid fa-circle-check"></i>Reading and
                  writing&nbsp;
                </h3>
              </div>
            </div>
          </div>
          <div class="blog-right-img"></div>
        </div>
      </div>
    </div>
    <div class="blog-page3 page3" id="literacy">
      <h1>
        <span>Literacy Adventures</span> <i class="fa-solid fa-pen-nib"></i>
      </h1>
      <div class="art-crafts">
        <div>
          <a
            href="https://balrakshabharat.org/blog/education/how-activity-based-learning-boosts-knowledge-and-retention/"
          >
            <img src="/img/students.png" alt="" />
            <h2>Activity-based learning</h2>
          </a>
        </div>
        <div>
          <a
            href="https://balrakshabharat.org/blog/education/initiatives-of-child-education-ngos-in-india/"
          >
            <img src="/img/intraction.png" alt="" />
          </a>
          <h2>Child education ngo's</h2>
        </div>
        <div>
          <a
            href="https://balrakshabharat.org/blog/education/how-education-shapes-human-capital-and-drives-progress/"
          >
            <img src="/img/reading.png" alt="" />
            <h2>
              Education shapes <br />
              human capital
            </h2>
          </a>
        </div>
      </div>
    </div>
    <div class="blog-page2 page2" id="art-crafts">
      <h1>
        Creative <span>Arts & Crafts</span> <i class="fa-solid fa-democrat"></i>
      </h1>
      <div class="art-crafts">
        <div>
          <a
            href="https://supermakeit.com/blog/2018/4/10/colorful-cardboard-zoo-animals"
          >
            <img src="/img/animal.jpg" alt="" />
            <h2>Zoo Animals!</h2>
          </a>
        </div>
        <div>
          <a href="https://sayyes.com/2021/12/white-foam-christmas-trees-2">
            <img src="/img/chritmas.jpg" alt="" />
          </a>
          <h2>Christmas Trees</h2>
        </div>
        <div>
          <a href="https://sayyes.com/2014/07/3-cute-popsicle-stick-crafts">
            <img src="/img/home.jpg" alt="" />
            <h2>Stick Crafts</h2>
          </a>
        </div>
      </div>
    </div>
    <div class="blog-page3 page3" id="problem-solving">
      <h1>
        Fun <span>Problem Solving</span> <i class="fa-solid fa-infinity"></i>
      </h1>
      <div class="art-crafts">
        <div>
          <a href="https://nrich.maths.org/problems/three-way-mix">
            <img src="/img/cube.png" alt="" />
            <h2>Three way <br />mix up</h2>
          </a>
        </div>
        <div>
          <a
            href="https://www.clickvieweducation.com/blog/teaching-ideas/problem-solving-activities"
          >
            <img src="/img/15-Problem.jpg" alt="" />
            <h2>Problem solving <br />activities</h2>
          </a>
        </div>
        <div>
          <a href="https://nrich.maths.org/games/tangram-pictures">
            <img src="/img/box.jpeg" alt="" />
            <h2>
              Tangram <br />
              pictures
            </h2>
          </a>
        </div>
      </div>
      <button>
        <a
          href="https://royalsociety.org/-/media/education/teacher-consultant-resources/KS12-Problem-solving-activitiesFINAL.pdf"
          >More activities</a
        >
      </button>
    </div>
  </div>
</body>
