<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="css/style.css" />
<body>
  <div class="main">
    <div class="page1">
      <div class="hero">
        <div class="left">
          <div class="left-text">
            <h1>Start managing <br />your institute <br />smarter today</h1>
            <p>
              Designed to automate student records, payment tracking, monthly
              fees,Access records and class organization and communicate
              effortlessly.
            </p>
          </div>
          <div class="fetures">
            <h3>
              <i class="fa-solid fa-circle-check"></i>Student Management&nbsp;
            </h3>
            <h3><i class="fa-solid fa-circle-check"></i>Fees & Dues&nbsp;</h3>
            <h3>
              <i class="fa-solid fa-circle-check"></i>Monthly Reports&nbsp;
            </h3>
          </div>
          <div class="log">
            <button class="learn-more" onclick="location.href = '/signup'">
              <i class="fa-solid fa-user-plus"></i>&nbsp; SignUp Free
            </button>
            <button class="learn-more" onclick="location.href = '/login'">
              <i class="fa-solid fa-right-to-bracket"></i>&nbsp; LogIn
            </button>
          </div>
        </div>
        <div class="right"></div>
      </div>
    </div>
    <div class="page2">
      <div class="sub-heading">
        <h1>From Chaos to <span>Control</span></h1>
      </div>
      <div class="after">
        <div class="points">
          <div>
            <h2>
              <i class="fa-solid fa-user-graduate"></i>Student <br />Management
            </h2>
            <ul>
              <li>Add, edit, delete students</li>
              <li>Track joining date & grade</li>
              <li>Separate data for each owner</li>
            </ul>
          </div>
          <div>
            <h2>
              <i class="fa-solid fa-indian-rupee-sign"></i>Fees & <br />
              Dues
            </h2>
            <ul>
              <li>Add fee payments</li>
              <li>Automatic due calculation</li>
              <li>Monthly fee history</li>
            </ul>
          </div>
          <div>
            <h2>
              <i class="fa-solid fa-chart-line"></i> Monthly <br />
              Reports
            </h2>
            <ul>
              <li>Total earnings</li>
              <li>Expenses tracking</li>
              <li>New students & dropouts</li>
            </ul>
          </div>
          <div>
            <h2>
              <i class="fa-solid fa-school-lock"></i> Secure <br />
              Accounts
            </h2>
            <ul>
              <li>Personal account for owner</li>
              <li>Personal account for student</li>
              <li>Data is private & secure</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="page3">
      <div class="banner">
        <img src="30700162_4101.png" alt="" />
        <div>
          <h1>
            Manage your students, fees, and monthly reports <br />
            <span>All in one place.</span>
          </h1>
          <button class="learn-more" onclick="location.href = '/signup'">
            Create Free Account
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
