<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="css/style.css" />
<body>
  <div class="main">
    <div class="page1">
      <%- include('../includes/navbar')%>
      <div class="hero">
        <div class="left">
          <div class="left-text">
            <h1>Unlock Your Child's <br /><span>Brightest</span> Future</h1>
            <p>
              Fun, engaging, and real-life learning experiences for every young
              explorer.
            </p>
          </div>
          <button class="learn-more" onclick="location.href='/blog'">
            Learn More &nbsp;<i
              class="fa-solid fa-circle-chevron-right"
            ></i></button
          ><br />
          <div class="fetures">
            <h3 class="deep">
              <i class="fa-solid fa-circle-check"></i>Transforming <br />
              Socicety
            </h3>
            <div class="line">
              <h3>
                <i class="fa-solid fa-circle-check"></i>Embracing Values
              </h3>
              <h3>
                <i class="fa-solid fa-circle-check"></i>Deep Thinking
              </h3>
            </div>
          </div>
        </div>
        <div class="right"></div>
      </div>
    </div>
    <div class="page2">
      <div class="points">
        <div>
          <i class="fa-solid fa-calendar"></i>
          <h2>5<sup>+</sup> Years shaping <br />young learners</h2>
        </div>
        <div>
          <i class="fa-solid fa-users"></i>
          <h2>150<sup>+</sup> Happy <br />students</h2>
        </div>
        <div>
          <i class="fa-solid fa-school"></i>
          <h2>Experiences <br />teachers</h2>
        </div>
        <div>
          <i class="fa-solid fa-globe"></i>
          <h2>World skill <br />blended with fun</h2>
        </div>
      </div>
      <div class="sub-heading">
        <h1>
          Programs That <span>inspire</span> and <br />Empower Every Child
        </h1>
        <p>
          From creativity to critical thinking, we offer a wide range of <br />
          programs designed to nurture every child's potential.
        </p>
      </div>
      <div class="special">
        <div>
          <a href="/blog/#art-crafts">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <img src="7972091_3809410.jpg" alt="" />
            <h2>Creative Arts & Crafts</h2>
          </a>
        </div>
        <div>
          <a href="/blog/#problem-solving">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <img src="4078872_2147523.jpg" alt="" />
            <h2>Fun Problem Solving</h2>
          </a>
        </div>
        <div>
          <a href="/blog/#literacy">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <img src="3797725_9920.jpg" alt="" />
            <h2>Literacy Adventures</h2>
          </a>
        </div>
      </div>
    </div>
    <div class="page3">
      <div class="lines">
        <h1><span>Learning</span>&nbsp;Made Easy <br />and Fun!</h1>
        <p>
          "Dream, Dream, Dream. Dreams transform into <br />
          thoughts and thoughts result in action." <br />
          <span>Dr. APJ Abdu1 Kalam</span>
        </p>
      </div>
      <div class="banner">
        <img src="30700162_4101.png" alt="" />
        <div>
          <p class="getin">Get in To Join Our Community</p>
          <h1>Become Part of Our School Partner <span>Community</span></h1>
          <p class="info">
            Interested in joining as a substitute teacher? Connect with <br />
            our expanding network of dedicated educators and schools.
          </p>
          <button>Get started</button>
        </div>
      </div>
    </div>
  </div>
</body>
