<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="/css/newStudent.css" />
<body>
  <div class="main">
    <%- include('../includes/navbar')%>
    <div class="container">
      <img src="/img/addStudent.jpg" alt="Student reading a book" />
      <form action="/students/newStudent" method="post" class="form">
        <p class="title">Register</p>
        <p class="message">
          <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Add a new student
        </p>
        <label>
          <input
            class="input"
            type="text"
            placeholder=""
            required=""
            id="name"
            name="name"
          />
          <span>Name</span>
        </label>
        <div class="flex">
          <label>
            <select name="grade" id="grade" required="">
              <option value="" selected disabled>Grade</option>
              <option value="0">Nursery</option>
              <option value="1st">1st</option>
              <option value="2nd">2nd</option>
              <option value="3rd">3rd</option>
              <option value="4th">4th</option>
              <option value="5th">5th</option>
              <option value="6th">6th</option>
              <option value="7th">7th</option>
              <option value="8th">8th</option>
              <option value="9th">9th</option>
              <option value="10th">10th</option>
              <option value="11th">11th</option>
              <option value="12th">12th</option>
            </select>
            <!-- <span>Grade</span> -->
          </label>
          <label>
            <input
              class="input"
              type="number"
              placeholder=""
              required=""
              id="fees"
              name="fees"
            />
            <span>Fees</span>
          </label>
          <label>
            <input
              class="input"
              type="number"
              placeholder=""
              required=""
              id="dueFees"
              name="dueFees"
              value="<%=0%>"
            />
            <span>Due fees</span>
          </label>
        </div>
        <label>
          <input
            type="date"
            class="input"
            placeholder=""
            required=""
            id="joiningDate"
            name="joiningDate"
            value="<%=todayDate%>"
          />
          <span>Joining Date</span>
        </label>
        <label>
          <input
            class="input"
            type="text"
            placeholder=""
            id="parent"
            name="parent"
          />
          <span>Parent</span>
        </label>
        <label>
          <input
            class="input"
            type="number"
            placeholder=""
            id="contact"
            name="contact"
          />
          <span>Contact</span>
        </label>
        <label>
          <input
            class="input"
            type="number"
            placeholder=""
            id="phone"
            name="phone"
          />
          <span>Phone</span>
        </label>
        <label>
          <input
            class="input"
            type="text"
            placeholder=""
            id="note"
            name="note"
          />
          <span>Note</span>
        </label>

        <button class="submit">Add Student</button>
      </form>
    </div>
  </div>
</body>
<script src="/js/newStudent.js"></script>
