* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3efea;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.main {
  position: relative;
}
.page1 {
  /* min-height: 100vh; */
  width: 100%;
  background-color: #f3efea;
  position: relative;
}
.hero {
  display: flex;
  height: calc(100vh - 13vh);
}
.left {
  width: 55%;
  padding: 10vh 0 10vh 3vw;
  color: #31312f;
  z-index: 10;
}
.left-text h1 {
  position: relative;
}
.left-text {
  font-size: 2.5vw;
}
.left-text h1 span::after {
  content: "";
  position: absolute;
  right: 29vw;
  border-radius: 50%;
  rotate: -8deg;
  z-index: -1;
  border: 6px solid #eba139;
  height: 5vw;
  width: 20vw;
  bottom: 0;
}
.left-text p {
  font-size: 1.5vw;
  margin-top: 3vh;
  font-family: sans-serif;
}
.fetures {
  margin-top: 4vh;
  display: inline-block;
  font-family: sans-serif;
}
.fetures h3 {
  border: 1px solid #31312f;
  border-radius: 20px;
  padding: 1vh 1vh;
  font-size: 1vw;
  margin-top: 2.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
}
.fetures h3 i {
  font-size: 1.5vw;
  color: #31312f;
  margin-right: 5px;
}
.blog-right-img {
  background-image: url(../img/flat-creativity-concept-illustration.png);
  background-position: center;
  background-size: cover;
  width: 45%;
}
.left-text .explore {
  margin: 3vh 0;
}
.hero-left-text h1 span::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  rotate: -8deg;
  z-index: -1;
  border: 6px solid #eba139;
  height: 10vh;
  width: 15vw;
  right: 17.5vw;
  bottom: 0;
}
.blog-page3 {
  border-bottom: 1.5px solid #31312f;
  margin: 0vh 3vw 0 3vw;
}
.blog-page3 h1 {
  font-size: 5vw;
  color: #31312f;
}
.blog-page3 h1 span {
  text-decoration: 2px underline #31312f;
}
.blog-page3 h1 i {
  color: #204caf;
  transform: scaleX(-1);
}
.art-crafts {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: space-around;
  text-align: center;
  color: #31312f;
  margin: 5vh 0 5vh 0;
}
.art-crafts div {
  position: relative;
  cursor: pointer;
}
.art-crafts div img:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 30px #31312f8f;
  transform: scale(1.02);
  rotate: -5deg;
}
.art-crafts div img {
  height: 100%;
  box-shadow: 0px 0px 10px #31312f8f;
  border-radius: 30px;
}
.art-crafts div h2 {
  position: absolute;
  bottom: 12vh;
  left: 5%;
  color: #31312f;
  backdrop-filter: blur(2px);
  padding: 2.5vh 2vw;
  font-size: 2.5vw;
  width: 90%;
}
.art-crafts div img {
  height: 60vh;
  width: 25vw;
}
.blog-page3 a button {
  padding: 1vw 2vw;
  font-size: 1.5vw;
  border-radius: 50px;
  border: none;
  background-color: #31312f;
  position: absolute;
  bottom: 4vh;
  left: 3vw;
  cursor: pointer;
  color: #f3efea;
  text-decoration: none;
}
@media (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
    height: calc(100vh - 14vw);
    height: inherit;
  }
  .left {
    /* height: 55vw; */
    height: inherit;
    width: 100%;
    padding: 0vh 3vw;
  }

  .left-text p {
    font-size: 4vw;
    margin-top: 0;
  }
  .left-text .explore {
    font-size: 8vw;
    margin: 2vh 0;
  }
  .hero-left-text h1 span::after {
    border: 5px solid #eba139;
    height: 3vh;
    width: 25vw;
    right: 32vw;
  }
  .blog-right-img {
    width: 100%;
    height: 45vh;
  }
  .fetures {
    margin-top: 2vh;
    width: 90vw;
  }
  .fetures h3 {
    padding: 2vw 4vw 2vw 2vw;
    font-size: 4vw;
    margin-top: 1vh;
    display: inline-block;
  }
  .fetures h3 i {
    font-size: 5vw;
    margin-right: 1vw;
  }
  .blog-page2,
  .blog-page3 {
    border-bottom: 1.5px solid #31312f;
    margin: 2.5vh 3vw 0 3vw;
  }
  .blog-page2 h1,
  .blog-page3 h1 {
    font-size: 7vw;
  }

  .art-crafts {
    flex-direction: column;
    width: 100%;
    height: inherit;
    margin: 5vh 0 0 0;
  }
  .art-crafts div {
    height: 40vh;
    width: 100%;
    margin-bottom: 4vh;
  }
  #problem-solving .art-crafts div:nth-child(3) {
    margin-bottom: 8vh;
  }
  .art-crafts div img {
    height: 38vh;
    width: 38vh;
  }
  .art-crafts div h2 {
    position: absolute;
    bottom: 2vh;
    left: 5%;
    color: #31312f;
    backdrop-filter: blur(2px);
    padding: 2.5vh 2vw;
    font-size: 6vw;
    width: 90%;
  }
  .blog-page3 a button {
    padding: 2.5vw;
    font-size: 4vw;
    bottom: 3vh;
    left: 8vw;
  }
}
