* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #f3efea;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
.main {
  position: relative;
  width: 100%;
  background-color: #f3efea;
}
.container {
  width: calc(100% - 6vw);
  margin: 2vw 3vw;
  font-family: sans-serif;
}
.thisMonth {
  margin: 4vh auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.monthly-reports-container {
  margin: 2vw auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.report-card {
  width: 27vw;
  background: #31312f;
  border-radius: 30px;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.monthly-reports-container .report-card {
  margin-bottom: 2vw;
}

.report-stats {
  width: 100%;
}

.stat {
  padding: 0.6rem;
  color: white;
  border-bottom: 1px dashed #ddd;
  display: flex;
  justify-content: space-around;
}
.stat .total {
  border-radius: 30px;
  justify-content: space-between;
  padding: 0.6rem;
  padding: 0.6rem 1.2rem;
}
.total span {
  font-size: 2.5rem;
  font-weight: 600;
}
.new {
  display: flex;
  justify-content: space-between;
}

.stat div {
  margin: 0;
  font-size: 14px;
}

.new-stu {
  max-height: 25vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6e6e6e;
  border-radius: 10px;
}
.expense-section h3 {
  margin: 10px 0;
  color: white;
}

.expense-section ul {
  list-style: none;
  padding: 0;
}

.expense-section li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px dashed #ddd;
  color: white;
}
.addFess {
  width: 27vw;
}
.history {
  background-color: #31312f;
  color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.feeHistory {
  width: 23vw;
  height: 55vh;
  overflow-y: scroll;
}
.feeHistory h2 {
  margin-bottom: 3vh;
}
.fee-entry {
  margin: 2vh 0;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ddd;
}
.fee-entry a {
  color: white;
  text-decoration: none;
}
.fee-entry p {
  font-size: 1.4rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -1px;
  color: #31312f;
  color: #00bfff;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 87vh;
  width: 27vw;
  padding: 2rem;
  border-radius: 30px;
  position: relative;
  background-color: #31312f;
  color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.form label {
  position: relative;
  margin-top: 1.5vh;
}

.form label .input {
  background-color: #333;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  font-size: 2rem;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 1.2em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: -5px;
  font-size: 1.2em;
  font-weight: 600;
}

.input {
  font-size: medium;
  font-size: 3vh;
}

.submit,
#loadReportsBtn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 3vh;
  font-weight: bold;
  transform: 0.3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

.student {
  margin-right: 3vw;
}
@media (max-width: 600px) {
  .nav-tabs {
    font-size: 5vw;
    padding: 0 8vw;
  }
  .nav-tabs #loadReportsBtn {
    width: 100%;
  }
  .thisMonth {
    flex-direction: column;
    margin: 3vw;
  }
  .title {
    font-size: 6.5vw;
  }
  .report-card {
    width: 100%;
    padding: 3.5vw;
  }
  .addFess {
    width: 100%;
  }
  .total span {
    font-size: 7vw;
  }
  .feeHistory {
    width: 100%;
    max-height: 40vh;
    padding: 0;
  }
  .history {
    padding: 3.5vw;
  }
  .feeHistory h2 {
    margin-bottom: 0vw;
  }
  .fee-entry {
    margin: 1.5vh 0;
  }
  .fee-entry p {
    font-size: 1rem;
  }
  .form {
    padding: 3.5vw;
    width: 100%;
  }
  .message {
    margin-left: 1.5vw;
    font-size: 5.5vw;
  }
  .input {
    font-size: 2.5vh;
  }
  .submit {
    font-size: 5vw;
    margin-top: 15px;
  }
  .student {
    margin-right: 0vw;
  }
  .addFess {
    margin: 3vw 0;
  }
  .flex {
    margin: 3vw;
  }
  .monthly-reports-container {
    margin: 3vh 3vw;
    max-height: 80vh;
    overflow-y: scroll;
    margin-bottom: 4vh;
  }
  .monthly-reports-container .report-card {
    margin-bottom: 2rem;
  }
}
