@font-face {
  font-family: font;
  src: url(../MethanerseFreeTrial-0WpE4.otf);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 13vh;
  background-color: #f3efea;
  border-bottom: 0.5px solid black;
  position: relative;
  padding: 0 3vw;
  font-family: sans-serif;
}
nav p {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav p a {
  color: #31312f;
  text-decoration: none;
}
nav i {
  font-size: 3vw;
  margin-right: 0.5vw;
}
nav span {
  font-family: font;
  margin-left: 0.5vw;
  font-weight: bold;
  letter-spacing: 2px;
}
nav .info {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.info a {
  padding: 1vw 2vw;
  border: 1px solid #31312f;
  border-radius: 50px;
  font-weight: 400;
  position: relative;
  transition: all ease 0.3s;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}
.info a:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px #31312f8f;
}
.info a h4 {
  font-size: 14px;
  text-decoration: none;
  color: #31312f;
  z-index: 9;
  position: relative;
}
.info a i {
  color: #31312f;
  font-size: 16px;
  z-index: 9;
}
nav .info a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #31312f;
  left: 0;
  bottom: -100%;
  border-radius: 50px;
  transition: all ease 0.4s;
}
nav a:hover::before {
  bottom: 0;
  border-radius: 0;
}
.info a:hover h4,
.info a:hover i {
  color: #f3efea;
}
.profile,
.profile img {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.profile:hover {
  box-shadow: 0px 0px 10px #31312f8f;
  transform: translateY(-3px);
}
.menu {
  background-color: #f3efea;
  background-color: rgb(218, 218, 218);
  color: #31312f;
  padding: 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
  position: fixed;
  right: 5vh;
  top: 15vh;
  z-index: 15;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 2s ease;
  pointer-events: none;
}
.menu:not(.hide) {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.menu ul li {
  padding: 0.8rem;
  text-align: start;
  background-color: rgb(218, 218, 218);
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 0.8rem;
  text-transform: capitalize;
  list-style-type: none;
}
.menu ul li i {
  font-size: 1.4rem;
  margin-right: 10px;
}
.menu ul li span {
  font-size: 1.2rem;
}
.menu ul li:hover {
  background-color: rgba(128, 128, 128, 0.4);
}
.hide {
  display: none;
}
.menu ul a {
  text-decoration: none;
  color: #31312f;
}
footer {
  bottom: 0;
  width: 100%;
}

footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  padding: 1.6rem;
  transition: all ease 0.3s;
}
.footer a:hover {
  text-decoration: underline;
}
.footer a i {
  font-size: 1.6rem;
}
@media (max-width: 600px) {
  nav {
    height: 14vw;
    padding: 0 3vw;
  }
  nav p {
    font-size: 4vw;
  }
  nav i {
    font-size: 5vw;
  }
  nav span {
    margin-left: 0vw;
  }
  nav .info {
    gap: 2vw;
  }
  .info a {
    padding: 2vw 2.5vw;
  }
  .info a h4 {
    display: none;
  }
  .info a i {
    font-size: 4vw;
  }
  .menu {
    right: 2vw;
    top: 16vw;
  }
  .profile,
  .profile img {
    height: 38px;
    width: 38px;
  }
  .footer a {
    font-size: .8rem;
    padding: 1.2rem;
  }
  .footer a i {
    font-size: 1.2rem;
  }
}
