* {
  font-family: sans-serif;
}
.student-info {
  background-color: grey;
  /* border: 2px solid black; */
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.4rem;
}
.student-info .img-name {
  display: flex;
  align-items: center;
}
.student-info .img-name h1 {
  margin-left: 1rem;
  font-size: clamp(12px, 3vw, 50px);
  text-transform: capitalize;
}
.student-info img {
  border-radius: 10px;
}
.parent,
.status {
  text-transform: capitalize;
}
.edit-info {
  margin-right: 1vw;
  padding: 1vw;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
.flex {
  display: flex;
  margin: 2vh 0vw;
}
.list {
  display: flex;
  margin: 3vw 4vw;
}
.student {
  width: 50vw;
}
.fees {
  width: 50vw;
}
.addFess {
  width: 50%;
  background-color: grey;
  border-radius: 10px;
  padding: 20px;
}
.addFess form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
