* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  background-color: #f3efea;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
.main {
  position: relative;
  width: 100%;
  background-color: #f3efea;
}
.list {
  display: flex;
  margin: 2vw 4vw;
}
.student-info {
  background-color: #31312f;
  color: rgba(255, 255, 255, 0.7);
  /* width: 28vw; */
  padding: 3vh;
  border-radius: 5vh;
  margin-right: 3vw;
}
.student-info .img-name {
  display: flex;
  padding-bottom: 1.5vh;
}
.student-info .img-name h1 {
  margin-left: 3vh;
  font-size: 4vh;
  text-transform: capitalize;
  line-height: 5vh;
}
.student-info img {
  border-radius: 2vh;
  height: 8vh;
}
.student-info .grade-fees p {
  margin-left: 3vh;
  font-size: 2.5vh;
}
.student-info p {
  margin: 0 1.5vh 1.5vh 1.5vh;
  font-size: 3vh;
}
.parent {
  text-transform: capitalize;
}
.edit-info {
  padding: 1vw 2vw;
  border: 1px solid #31312f;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  color: #31312f;
  margin-top: 2vh;
  margin-right: 1vw;
}
.flex {
  display: flex;
  margin-left: 4vw;
}
.addFess {
  /* width: 28vw; */
  border-radius: 10px;
}
.feeHistory {
  background-color: #31312f;
  color: rgba(255, 255, 255, 0.7);
  /* width: 28vw; */
  padding: 3vh;
  border-radius: 5vh;
  height: 65vh;
  overflow-y: scroll;
}
.feeHistory h2 {
  margin-bottom: 3vh;
}
.fee-entry {
  margin: 2vh 0;
}
.fee-entry p {
  font-size: 3vh;
}

.title {
  font-size: 4vh;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  color: #00bfff;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* max-width: 87vh; */
  padding: 3vh;
  border-radius: 5vh;
  position: relative;
  background-color: #31312f;
  color: rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
}

.message {
  font-size: 14.5px;
  font-size: 3vh;
  color: rgba(255, 255, 255, 0.7);
}
.form label {
  position: relative;
  margin-top: 1.5vh;
}

.form label .input {
  background-color: #333;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  font-size: 2rem;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 1.2em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: -5px;
  font-size: 1.2em;
  font-weight: 600;
}

.input {
  font-size: medium;
  font-size: 3vh;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 2vh;
  color: #fff;
  font-size: 3vh;
  font-weight: bold;
  transform: 0.3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

.addFess {
  margin-right: 3vw;
}
@media (max-width: 600px) {
  .list {
    flex-direction: column;
    margin: 3vw;
  }
  .student-info {
    width: 100%;
    padding: 3vw;
    border-radius: 20px;
  }
  .student-info .grade-fees p {
    margin-left: 3vw;
  }
  .student-info .img-name {
    padding-bottom: 2vw;
  }
  .student-info .img-name h1 {
    margin-left: 3vw;
    font-size: 8vw;
  }
  .student-info p {
    margin: 1vw;
    font-size: 5.5vw;
  }
  .edit-info {
    padding: 2vw;
    font-size: 4vw;
    margin: 3vw 2vw;
    margin-right: 1vw;
  }
  .flex {
    margin-top: 0vh;
  }
  .addFess {
    width: 100%;
    border-radius: 20px;
    margin: 3vw 0;
  }
  .feeHistory {
    width: 100%;
    padding: 3vw;
    height: 40vh;
    border-radius: 20px;
  }
  .feeHistory h2 {
    margin-bottom: 0vw;
  }
  .fee-entry {
    margin: 1.5vh 0;
  }
  .fee-entry p {
    font-size: 5vw;
  }
  .title {
    font-size: 8vw;
  }
  .form {
    padding: 3vw;
    border-radius: 20px;
  }
  .message {
    margin-left: 1.5vw;
    font-size: 5.5vw;
  }
  .input {
    font-size: 2.5vh;
  }
  .submit {
    font-size: 5vw;
  }
  .flex {
    margin: 3vw;
  }
}
