* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #f3efea;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
.main {
  position: relative;
  width: 100%;
  background-color: #f3efea;
}
