.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
}
.form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  border-radius: 20px;
  position: relative;
  background-color: #31312f;
  color: #fff;
  padding: 1.8rem;
}
label {
  margin-bottom: 15px;
}
.login {
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
  margin-bottom: 15px;
}
.login::before {
  width: 18px;
  height: 18px;
}
.login::after {
  width: 18px;
  height: 18px;
  animation: pulse 2s linear infinite;
}
.login::before,
.login::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}
.form label {
  position: relative;
}
.form label .input,
.flex label select {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
.flex label select {
  width: 95px;
  font-size: 1.2em;
  padding: 16px 05px 05px 10px;
}
.form label .input + span {
  color: white;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 1.2rem;
}
.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 1em;
  font-weight: 600;
}
.input {
  font-size: medium;
}
.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  transform: 0.3s ease;
  background-color: #00bfff;
  cursor: pointer;
}
.submit:hover {
  background-color: #00bfff96;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Signup */
.signup {
  text-align: center;
  margin: 1.4rem 0 1rem 0;
  font-size: 1rem;
  color: #94a3b8;
}
.signup a {
  color: #00bfff;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}
.google a{
  text-align: center;
  justify-content: center;
  display: flex;  
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: #00bfff;
  font-size: 1.2rem;
  font-weight: 600;
  transform: 0.8s ease;
  background-color: #fff;
  margin-top: 1rem;
}
.guest{
  margin: 0;
  cursor: pointer;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.input_field {
  appearance: textfield;
}

@media (max-width: 600px) {
  .login {
    font-size: 2rem;
  }
}
