.container {
  width: calc(100% - 10vw);
  margin: 4vh 5vw;
  font-family: sans-serif;
}
.nav-tabs {
  color: #31312f;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.quick-actions button {
  padding: 1vw 2vw;
  border: 1px solid #31312f;
  background-color: #f3efea;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
  margin: 0 1vh;
  position: relative;
  transition: all ease 0.3s;
  overflow: hidden;
}
.quick-actions button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px #31312f8f;
}
.quick-actions button p {
  font-size: 14px;
  color: #31312f;
  z-index: 9;
  position: relative;
}
.quick-actions button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #31312f;
  left: 0;
  bottom: -100%;
  border-radius: 50px;
  transition: all ease 0.4s;
}
.quick-actions button:hover::before {
  bottom: 0;
  border-radius: 0;
}
.quick-actions button:hover p {
  color: #f3eaea;
}
.students {
  display: flex;
  flex-wrap: wrap;
}
.students a {
  text-decoration: none;
  color: black;
}
.list {
  width: 20vw;
  height: 15vh;
  background-color: grey;
  margin: 1vw;
  padding: 1vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.list img {
  height: 5vw;
  width: 5vw;
  border-radius: 10px;
}
.list .details {
  margin-left: 1vw;
}
.list .details h2 {
  overflow: hidden;
  font-size: clamp(12px, 2vw, 24px);
  text-transform: capitalize;
}
.normal {
  color: #31312f; /* all dues are clear */
}

.yellow {
  color: #ff9800; /* Orange/Yellow  - pending fee less than 2 months*/
}

.red {
  color: #bd3026; /* Red - pending fee more than 2 months*/
}
.none {
  display: none;
}
