.main {
  position: relative;
  width: calc(100% - 6vw);
  margin: 4vh 3vw;
  font-family: sans-serif;
}
.nav-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}
div.links-group,
a.links-group {
  width: fit-content;
  display: flex;
  padding: 0.4rem;
  border: 1px solid #31312f;
  position: relative;
  border-radius: 50px;
}
div.links-group::after {
  background: #a0d8ff;
  content: "";
  position: absolute;
  top: calc(anchor(top));
  left: calc(anchor(left));
  right: calc(anchor(right));
  bottom: calc(anchor(bottom));
  border-radius: 50px;
  z-index: 1;
  position-anchor: --active-link;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
div.links-group a,
a.links-group {
  position: relative;
  color: #e0f7fa;
  color: #31312f;
  padding: 0.8rem;
  z-index: 2;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}
a.links-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}
div.links-group a.active {
  anchor-name: --active-link;
  color: #1a1a2e;
}
div.links-group:has(a.active)::after {
  top: anchor(top);
  left: anchor(left);
  right: anchor(right);
  bottom: anchor(bottom);
}
.option {
  display: flex;
}
.quick-actions {
  display: flex;
}
.quick-actions label {
  padding: 12px;
  border: 1px solid #31312f;
  border-radius: 2rem;
}
.quick-actions label input {
  border: none;
  background-color: #f3efea;
  font-size: 16.8px;
}
.quick-actions label input:focus {
  outline: none;
}

.quick-actions label i {
  font-size: 16px;
  margin-right: 0.5vw;
}

.students {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
.hidden{
  display: none;
}
.students .student a {
  text-decoration: none;
  color: black;
}
.list {
  width: 16vw;
  background-color: grey;
  margin: 0.5vw;
  padding: 0.5vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.list img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.list .details {
  margin-left: 1vw;
  color: #31312f;
}
.details span {
  font-size: 1.1rem;
}
.list .details p {
  overflow: hidden;
  font-size: clamp(12px, 1.6vw, 24px);
  font-weight: 700;
  text-transform: capitalize;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.normal {
  color: #31312f; /* all dues are clear */
}

.yellow {
  color: orange; /* Orange/Yellow  - pending fee less than 2 months*/
}

.red {
  color: orangered; /* Red - pending fee more than 2 months*/
}
.none {
  display: none;
}
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 400px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #a0d8ff;
}
.flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.edit-info {
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  color: #31312f;
  background-color: #ddd;
  margin: 0.2rem 0.4rem 0 0;
  display: flex;
  font-size: 1rem;
}
#student-count {
  background-color: #a0d8ff;
}
#student-count {
  background-color: #a0d8ff;
}
@media (max-width: 600px) {
  .main {
    width: calc(100vw - 6vw);
    margin: 2vw 3vw;
  }
  .nav-tabs {
    margin-bottom: 0vw;
    align-items: center;
  }
  .quick-actions {
    width: 100vw;
  }
  .option {
    width: 100vw;
    padding-bottom: 8px;
  }
  .quick-actions label {
    width: 100%;
    padding: 2vw 2.5vw;
  }

  .quick-actions label i,
  .quick-actions label input {
    font-size: 4vw;
  }

  .list {
    width: 45vw;
    padding: 1.5vw;
  }
  .list img {
    height: 40px;
    width: 40px;
  }
  .list .details {
    margin-left: 1.5vw;
    width: 100%;
  }
  .list .details p {
    font-size: 1.2rem;
  }
  .radio-inputs {
    width: 100%;
    margin: 1vw 0;
  }
  .edit-info {
    margin: 0;
    padding: 0.1rem 0.3rem;
  }
  div.links-group a,
  a.links-group {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
}
