* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #f3efea;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
.main {
  position: relative;
  width: 100%;
  width: calc(100% - 6vw);
  margin: 4vh 3vw;
  font-family: sans-serif;
}
.nav-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.nav-tabs .filter {
  display: flex;
  width: 50vw;
}

.filter a i,
.filter a p {
  z-index: 9;
}
.quick-actions {
  display: flex;
}
.quick-actions label {
  padding: 1vw 2vw;
  border: 1px solid #31312f;
  border-radius: 2rem;
}
.quick-actions label input {
  border: none;
  background-color: #f3efea;
  font-size: 16.8px;
}
.quick-actions label input:focus {
  outline: none;
}
.nav-tabs .filter a {
  padding: 1vw 2vw;
  border: 1px solid #31312f;
  background-color: #f3efea;
  position: relative;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 0.3s;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 1rem;
  color: #31312f;
}
.quick-actions button:hover,
.nav-tabs .filter a:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px #31312f8f;
}

.filter a p {
  font-size: 14px;
  color: #31312f;
  z-index: 9;
  position: relative;
}

.filter a p {
  z-index: 9;
}

.quick-actions label i {
  font-size: 16px;
  margin-right: 0.5vw;
}

.nav-tabs .filter a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #31312f;
  left: 0;
  bottom: -100%;
  border-radius: 50px;
  transition: all ease 0.4s;
}

.nav-tabs .filter a:hover::before {
  bottom: 0;
  border-radius: 0;
}

.quick-actions button:hover i,
.nav-tabs .filter a:hover p,
.nav-tabs .filter a:hover {
  color: #f3eaea;
}
.students {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
.hidden{
  display: none;
}
.students .student a {
  text-decoration: none;
  color: black;
}
.list {
  width: 16vw;
  background-color: grey;
  margin: 0.5vw;
  padding: 0.5vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.list img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.list .details {
  margin-left: 1vw;
  color: #31312f;
}
.details span {
  font-size: 1.1rem;
}
.list .details p {
  overflow: hidden;
  font-size: clamp(12px, 1.6vw, 24px);
  font-weight: 700;
  text-transform: capitalize;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.normal {
  color: #31312f; /* all dues are clear */
}

.yellow {
  color: orange; /* Orange/Yellow  - pending fee less than 2 months*/
}

.red {
  color: orangered; /* Red - pending fee more than 2 months*/
}
.none {
  display: none;
}
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 400px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #a0d8ff;
}
.flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.edit-info {
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  color: #31312f;
  background-color: #ddd;
  margin: 0.2rem 0.4rem 0 0;
  display: flex;
  font-size: 1rem;
}
#student-count {
  background-color: #a0d8ff;
}
#student-count {
  background-color: #a0d8ff;
}
@media (max-width: 600px) {
  .main {
    width: calc(100vw - 6vw);
    margin: 2vw 3vw;
  }
  .nav-tabs {
    margin-bottom: 0vw;
    align-items: center;
  }
  .nav-tabs .filter {
    margin-bottom: 1vw;
    width: 100%;
    justify-content: space-between;
  }
  .quick-actions {
    width: 100vw;
  }
  .quick-actions label {
    width: 100%;
    padding: 2vw 2.5vw;
  }
  .nav-tabs .filter a {
    margin-right: 0;
    padding: 2.5vw;
  }
  .nav-tabs .filter a i,
  .nav-tabs .filter a p {
    font-size: 0.9rem;
  }

  .quick-actions label i,
  .quick-actions label input {
    font-size: 4vw;
  }

  .list {
    width: 45vw;
    padding: 1.5vw;
  }
  .list img {
    height: 40px;
    width: 40px;
  }
  .list .details {
    margin-left: 1.5vw;
    width: 100%;
  }
  .list .details p {
    font-size: 1.2rem;
  }
  .radio-inputs {
    width: 100%;
    margin: 1vw 0;
  }
  .edit-info {
    margin: 0;
    padding: 0.1rem 0.3rem;
  }
}
