@font-face {
  font-family: font;
  src: url(../MethanerseFreeTrial-0WpE4.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3efea;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.main {
  position: relative;
}
.page1 {
  /* min-height: 100vh; */
  width: 100%;
  background-color: #f3efea;
  position: relative;
}
.hero {
  display: flex;
  /* height: calc(100vh - 13vh); */
}
.left {
  width: 60%;
  padding: 10vh 3vw;
  color: #31312f;
  z-index: 10;
}
.left-text h1 {
  position: relative;
}
.left-text {
  font-size: 2.5vw;
}
.left-text h1 span::after {
  content: "";
  position: absolute;
  right: 29vw;
  border-radius: 50%;
  rotate: -8deg;
  z-index: -1;
  border: 6px solid #eba139;
  height: 5vw;
  width: 20vw;
  bottom: 0;
}
.left-text p {
  font-size: 1.5vw;
  margin-top: 3vh;
  font-family: sans-serif;
}
.learn-more {
  padding: 1vw 2vw;
  font-size: 1.5vw;
  border-radius: 50px;
  border: none;
  color: #f3efea;
  background-color: #31312f;
  margin-top: 5vh;
  cursor: pointer;
}
.fetures {
  /* background-color: grey; */
  margin-top: 4vh;
  /* width: 15vw; */
  display: inline-block;
  font-family: sans-serif;
}
.fetures h3 {
  border: 1px solid #31312f;
  border-radius: 20px;
  padding: 1vh 1vh;
  font-size: 1vw;
  margin-top: 2.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
}
.fetures h3 i {
  font-size: 1.5vw;
  color: #497792;
  margin-right: 5px;
}
.deep {
  width: 10vw;
}
.line {
  display: flex;
  width: 90%;
}
.line :nth-child(2) {
  margin-left: 2vh;
}
.right {
  background-image: url(../man-readingself.png);
  background-position: center;
  background-size: cover;
  /* position: absolute; */
  height: 88vh;
  width: 47vw;
  right: 2vw;
  top: 10vh;
}
.page2 {
  width: calc(100% - 6vw);
  min-height: 100vh;
  /* background-color: rgb(184, 184, 184); */
  margin: 0 3vw;
}
.points {
  width: calc(100% - 8vw);
  height: 30vh;
  background-color: #9c969a;
  border-radius: 30px;
  margin: 10vh 4vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
}
.points div {
  text-align: center;
  font-size: 3vw;
  color: #31312f;
}
.points h2 {
  font-size: 2vw;
  margin-top: 2vh;
}
.points :nth-child(1) i,
.points :nth-child(3) i {
  color: #eba139;
}
.points :nth-child(2) i,
.points :nth-child(4) i {
  color: #204caf;
}
.sub-heading {
  text-align: center;
  color: #31312f;
  margin-bottom: 10vh;
}
.sub-heading h1 {
  font-size: 4vw;
}
.sub-heading h1 span::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  rotate: -8deg;
  z-index: -1;
  border: 6px solid #eba139;
  height: 10vh;
  width: 15vw;
  right: 32vw;
}
.sub-heading p {
  font-size: 1.5vw;
  margin-top: 1vh;
}
.special {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: space-around;
  text-align: center;
  margin: 10vh 0;
}
.special div {
  position: relative;
  cursor: pointer;
}
.special div a {
  color: #31312f;
  text-decoration: none;
}
.special div img:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 30px #31312f8f;
  transform: scale(1.02);
  rotate: -5deg;
}
.special div img {
  height: 90%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #31312f8f;
}
.special div h2 {
  font-size: 2vw;
  margin: 1vw 0;
}
/* .special div p {
  font-size: 1.5vw;
} */
.special div i {
  position: absolute;
  right: 1vw;
  bottom: 7vh;
  font-size: 3vw;
  color: #31312f;
}
.page3 {
  width: calc(100% - 8vw);
  margin: 0vh 4vw;
  min-height: 100vh;
  position: relative;
}
.lines {
  display: flex;
  padding-top: 8vh;
  color: #31312f;
  justify-content: space-between;
  align-items: center;
  margin: 0 4vw;
}
.lines h1 {
  font-size: 4vw;
  z-index: 5;
}
.lines h1 span::after {
  content: "";
  position: absolute;
  left: 3vw;
  border-radius: 50%;
  rotate: -8deg;
  z-index: -1;
  border: 6px solid #eba139;
  height: 9vh;
  width: 17vw;
}
.lines p {
  font-size: 2vw;
}
.lines p span {
  margin-left: 21vw;
}
.banner {
  height: 60%;
  width: 90%;
  margin: 8vh 5%;
  display: flex;
  align-items: center;
  border: 5px solid #31312f;
  border-radius: 30px;
}
.banner img {
  height: 60vh;
}
.banner div .getin {
  font-size: 2vw;
  border-bottom: 2px solid black;
  display: inline-block;
}
.banner h1 {
  font-size: 4vw;
  margin: 1.5vw 0;
  line-height: 4vw;
}
.banner h1 span {
  color: #204caf;
}
.banner .info {
  font-size: 1.5vw;
}
.banner div button {
  background-color: #204caf;
  color: white;
  border: none;
  padding: 1vw 2vw;
  border-radius: 10px;
  margin-top: 1.5vw;
  cursor: pointer;
  font-size: 1.2vw;
}
@media (max-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }
  .left {
    height: calc(55vh-14vw);
    width: 90vw;
    padding: 0vh 0vw;
    margin: 0 3vw;
  }
  .left-text {
    font-size: 4.5vw;
  }
  .left-text h1 span::after {
    left: -3vw;
    border: 5px solid #eba139;
    height: 8vw;
    width: 45vw;
  }
  .left-text p {
    font-size: 4vw;
    margin-top: 2.5vh;
    font-family: sans-serif;
  }
  .right {
    height: 45vh;
    width: 96vw;
    margin: 0 0vw;
  }
  .learn-more {
    padding: 3vw 5vw;
    font-size: 5vw;
    margin-top: 2.5vh;
  }
  .fetures {
    margin-top: 2.5vh;
    width: 90vw;
  }
  .fetures h3 {
    border: 1.5px solid #31312f;
    border-radius: 20px;
    padding: 2vw;
    font-size: 4vw;
    margin-top: 0vh;
  }
  .fetures h3 i {
    font-size: 5vw;
    margin-right: 2vw;
  }
  .fetures .deep {
    display: none;
  }
  .page2 {
    width: calc(100% - 6vw);
    min-height: 100vh;
    margin: 0 3vw;
  }
  .points {
    width: 100%;
    height: 15vh;
    margin: 2.5vh 0vw 0vh 0;
  }
  .points div {
    font-size: 8vw;
  }
  .points h2 {
    font-size: 2.5vw;
    margin-top: 0.5vh;
  }
  .sub-heading {
    margin-bottom: 0vh;
  }
  .sub-heading h1 {
    font-size: 6.5vw;
    margin-top: 2.5vh;
  }
  .sub-heading h1 span::before {
    border: 5px solid #eba139;
    height: 3vh;
    width: 25vw;
    right: 18vw;
  }
  .sub-heading p {
    font-size: 3vw;
    margin-top: 2.5vh;
  }
  .special {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
    margin: 2.5vh 0;
  }
  .special div {
    position: relative;
    cursor: pointer;
  }
  .special div a {
    color: #31312f;
    text-decoration: none;
  }
  .special div img:hover {
    transition: all 0.3s;
    box-shadow: 0px 0px 30px #31312f8f;
    transform: scale(1.02);
    rotate: -5deg;
  }
  .special div img {
    width: 90%;
  }
  .special div h2 {
    font-size: 7vw;
    margin: 2vh 0;
  }
  .special div i {
    right: 14vw;
    bottom: 10vh;
    font-size: 10vw;
  }
  .page3 {
    width: calc(100% - 6vw);
    margin: 0vh 3vw;
  }
  .lines {
    flex-direction: column;
    padding-top: 0vh;
    width: 100%;
    margin: 0vw;
  }
  .lines h1 {
    font-size: 6.5vw;
  }
  .lines h1 span::after {
    left: 13vw;
    border: 5px solid #eba139;
    height: 3vh;
    width: 30vw;
  }
  .lines p {
    font-size: 4vw;
  }
  .lines p span {
    align-items: center;
  }
  .banner {
    width: 100%;
    margin: 2.5vh 0 2.5vh 0;
    flex-direction: column;
    border: 3px solid #31312f;
  }
  .banner div {
    width: 90%;
    margin: 0 5%;
  }
  .banner div .getin {
    font-size: 3vw;
    border-bottom: 1px solid black;
  }
  .banner h1 {
    font-size: 6vw;
    line-height: 6vw;
  }
  .banner .info {
    font-size: 3vw;
  }
  .banner div button {
    padding: 3vw 6vw;
    margin: 5% 0;
    font-size: 4vw;
  }
}
