html,
body {
  overflow-x: hidden;
}
.page1 {
  display: flex;
}
.left {
  width: 60%;
  padding: 6vh 3vw;
  color: #31312f;
  z-index: 10;
}
.left-text {
  font-size: 2.5rem;
}
.left-text p {
  font-size: 1.5vw;
  margin-top: 3vh;
  font-family: sans-serif;
}
.learn-more {
  padding: 1vw 2vw;
  font-size: 1.5vw;
  border-radius: 50px;
  border: none;
  color: #f3efea;
  background-color: #31312f;
  margin-top: 3vh;
  cursor: pointer;
}
.fetures {
  margin-top: 3vh;
  display: flex;
  font-family: sans-serif;
}
.fetures h3 {
  border: 1px solid #31312f;
  border-radius: 20px;
  padding: 1vh 1vh;
  font-size: 1vw;
  margin-top: 2.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  margin-right: 1rem;
}
.fetures h3 i {
  font-size: 1.5vw;
  color: #497792;
  margin-right: 5px;
}
.log {
  margin-top: 2.5vh;
}
.log button {
  margin-right: 1rem;
  transition: all ease 0.3s;
}
.log button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px #31312f8f;
}
.right {
  background-image: url(../man-readingself.png);
  background-position: center;
  background-size: cover;
  height: 88vh;
  width: 47vw;
  right: 2vw;
  top: 10vh;
}
.page2 {
  width: calc(100% - 6vw);
  margin: 6vh 3vw;
}
.points {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
  flex-wrap: wrap;
  row-gap: 2rem;
}
.points ul {
  text-align: center;
  font-size: 3vw;
  color: #31312f;
  background-color: #9c969a;
  border-radius: 30px;
  padding: 2rem;
}
.points ul :nth-child(1) {
  line-height: 1.8rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2vh;
  line-height: 1rem;
}
.points ul li {
  font-size: 1.2rem;
  list-style: none;
}
.page2 h1 {
  text-align: center;
  color: #31312f;
  margin: 1.2rem;
  font-size: 4vw;
}
.page2 h1 span {
  text-decoration: underline;
}
.special {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: space-around;
  text-align: center;
  margin: 10vh 0;
}
.special div {
  position: relative;
  cursor: pointer;
}
.special div a {
  color: #31312f;
  text-decoration: none;
}
.special div img:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 30px #31312f8f;
  transform: scale(1.02);
  rotate: -5deg;
}
.special div img {
  height: 90%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #31312f8f;
}
.special div h2 {
  font-size: 2vw;
  margin: 1vw 0;
}
.special div i {
  position: absolute;
  right: 1vw;
  bottom: 7vh;
  font-size: 3vw;
  color: #31312f;
}
.page3 {
  position: relative;
  height: 60%;
  width: 84%;
  margin: 8vh 8%;
  display: flex;
  align-items: center;
  border: 4px solid #31312f;
  border-radius: 30px;
}
.page3 img {
  height: 50vh;
}
.page3 h1 {
  font-size: 3.5vw;
  margin: 1.5vw 0;
  line-height: 4vw;
}
.page3 h1 span {
  color: #204caf;
}
.page3 div button {
  background-color: #204caf;
  color: #f3efea;
  border: none;
  padding: 1vw 2vw;
  border-radius: 50px;
  margin-top: 1.5vw;
  cursor: pointer;
  font-size: 1.5vw;
  transition: all ease 0.3s;
  cursor: pointer;
}
.page3 div button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px #31312f8f;
}
@media (max-width: 600px) {
  .page1 {
    flex-direction: column-reverse;
  }
  .left {
    height: calc(55vh-14vw);
    width: 90vw;
    padding: 0vh 0vw;
    margin: 0 3vw;
  }
  .left-text {
    font-size: 5vw;
  }
  .left-text p {
    font-size: 4.1vw;
    margin-top: 1.5vh;
    font-family: sans-serif;
  }
  .log {
    margin-top: 1.5vh;
  }
  .right {
    height: 45vh;
    width: 96vw;
    margin: 0 0vw;
  }
  .learn-more {
    padding: 3vw 5vw;
    font-size: 5vw;
    margin-top: 2.5vh;
  }
  .fetures {
    display: none;
  }
  .page2 {
    width: calc(100% - 6vw);
    min-height: 100vh;
    margin: 2vh 3vw 4vh 3vw;
  }
  .points {
    padding: 1rem;
    width: 100%;
  }
  .points ul{
    width: 90%;
  }
  .points ul li:nth-child(1) {
    font-size: 1.8rem;
  }
  .page2 h1 {
    padding-bottom: 2rem;
    margin-bottom: 0vh;
    font-size: 6.5vw;
    margin-top: 2.5vh;
  }
  .special {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
    margin: 2.5vh 0;
  }
  .special div {
    position: relative;
    cursor: pointer;
  }
  .special div a {
    color: #31312f;
    text-decoration: none;
  }
  .special div img:hover {
    transition: all 0.3s;
    box-shadow: 0px 0px 30px #31312f8f;
    transform: scale(1.02);
    rotate: -5deg;
  }
  .special div img {
    width: 90%;
  }
  .special div h2 {
    font-size: 7vw;
    margin: 2vh 0;
  }
  .special div i {
    right: 14vw;
    bottom: 10vh;
    font-size: 10vw;
  }
  .page3 {
    width: calc(100% - 6vw);
    margin: 2.5vh 3vw;
    flex-direction: column;
    border: 3px solid #31312f;
  }
  .page3 div {
    width: 90%;
    margin: 0 5%;
  }
  .page3 h1 {
    font-size: 6vw;
    line-height: 6vw;
  }
  .page3 div button {
    padding: 3vw 6vw;
    margin: 5% 0;
    font-size: 4vw;
  }
}
