@font-face {
  font-family: font;
  src: url(../MethanerseFreeTrial-0WpE4.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3efea;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
.main {
  position: relative;
}
.page1 {
  /* min-height: 100vh; */
  width: 100%;
  background-color: #f3efea;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 13vh;
  background-color: #f3efea;
  border-bottom: 0.5px solid black;
  position: relative;
  padding: 0 3vw;
  font-family: sans-serif;
}

nav p {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav p a {
  color: #31312f;
  text-decoration: none;
}
nav i {
  font-size: 3vw;
  margin-right: 0.5vw;
}
nav span {
  font-family: font;
  margin-left: 0.5vw;
  font-weight: bold;
  letter-spacing: 2px;
}
nav .info {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.info a {
  padding: 1vw 2vw;
  border: 1px solid #31312f;
  border-radius: 50px;
  font-weight: 400;
  position: relative;
  transition: all ease 0.3s;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}
.info a:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px #31312f8f;
}
.info a h4 {
  font-size: 14px;
  text-decoration: none;
  color: #31312f;
  z-index: 9;
  position: relative;
}
.info a i {
  color: #31312f;
  font-size: 16px;
  z-index: 9;
}
nav .info a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #31312f;
  left: 0;
  bottom: -100%;
  border-radius: 50px;
  transition: all ease 0.4s;
}
nav a:hover::before {
  bottom: 0;
  border-radius: 0;
}
.info a:hover h4,
.info a:hover i {
  color: #f3efea;
}
.hero {
  display: flex;
  /* height: calc(100vh - 13vh); */
}
.left {
  width: 60%;
  padding: 10vh 3vw;
  color: #31312f;
  z-index: 10;
}
.left-text h1 {
  position: relative;
}
.left-text {
  font-size: 2.5vw;
}
.left-text h1 span::after {
  content: "";
  position: absolute;
  right: 29vw;
  border-radius: 50%;
  rotate: -8deg;
  z-index: -1;
  border: 6px solid #eba139;
  height: 5vw;
  width: 20vw;
  bottom: 0;
}
.left-text p {
  font-size: 1.5vw;
  margin-top: 3vh;
  font-family: sans-serif;
}
.learn-more {
  padding: 1vw 2vw;
  font-size: 1.5vw;
  border-radius: 50px;
  border: none;
  color: #f3efea;
  background-color: #31312f;
  margin-top: 5vh;
  cursor: pointer;
}
.fetures {
  /* background-color: grey; */
  margin-top: 4vh;
  /* width: 15vw; */
  display: inline-block;
  font-family: sans-serif;
}
.fetures h3 {
  border: 1px solid #31312f;
  border-radius: 20px;
  padding: 1vh 1vh;
  font-size: 1vw;
  margin-top: 2.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
}
.fetures h3 i {
  font-size: 1.5vw;
  color: #497792;
  margin-right: 5px;
}
.deep {
  width: 10vw;
}
.line {
  display: flex;
}
.line :nth-child(2) {
  margin-left: 2vh;
}
.right {
  background-image: url(../man-readingself.png);
  background-position: center;
  background-size: cover;
  /* position: absolute; */
  height: 88vh;
  width: 47vw;
  right: 2vw;
  top: 10vh;
}
.page2 {
  width: calc(100% - 6vw);
  min-height: 100vh;
  /* background-color: rgb(184, 184, 184); */
  margin: 0 3vw;
}
.points {
  width: calc(100% - 8vw);
  height: 30vh;
  background-color: #9c969a;
  border-radius: 30px;
  margin: 10vh 4vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
}
.points div {
  text-align: center;
  font-size: 3vw;
  color: #31312f;
}
.points h2 {
  font-size: 2vw;
  margin-top: 2vh;
}
.points :nth-child(1) i,
.points :nth-child(3) i {
  color: #eba139;
}
.points :nth-child(2) i,
.points :nth-child(4) i {
  color: #204caf;
}
.sub-heading {
  text-align: center;
  color: #31312f;
  margin-bottom: 10vh;
}
.sub-heading h1 {
  font-size: 4vw;
}
.sub-heading h1 span::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  rotate: -8deg;
  z-index: -1;
  border: 6px solid #eba139;
  height: 10vh;
  width: 15vw;
  right: 32vw;
}
.sub-heading p {
  font-size: 1.5vw;
  margin-top: 1vh;
}
.special {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: space-around;
  text-align: center;
  margin: 10vh 0;
}
.special div {
  position: relative;
  cursor: pointer;
}
.special div a {
  color: #31312f;
  text-decoration: none;
}
.special div img:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 30px #31312f8f;
  transform: scale(1.02);
  rotate: -5deg;
}
.special div img {
  height: 90%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #31312f8f;
}
.special div h2 {
  font-size: 2vw;
  margin: 1vw 0;
}
/* .special div p {
  font-size: 1.5vw;
} */
.special div i {
  position: absolute;
  right: 1vw;
  bottom: 7vh;
  font-size: 3vw;
  color: #31312f;
}
.page3 {
  width: calc(100% - 8vw);
  margin: 0vh 4vw;
  min-height: 100vh;
  position: relative;
}
.lines {
  display: flex;
  padding-top: 8vh;
  color: #31312f;
  justify-content: space-between;
  align-items: center;
  margin: 0 4vw;
}
.lines h1 {
  font-size: 4vw;
  z-index: 5;
}
.lines h1 span::after {
  content: "";
  position: absolute;
  left: 3vw;
  border-radius: 50%;
  rotate: -8deg;
  z-index: -1;
  border: 6px solid #eba139;
  height: 9vh;
  width: 17vw;
}
.lines p {
  font-size: 2vw;
}
.lines p span {
  margin-left: 21vw;
}
.banner {
  height: 60%;
  width: 90%;
  margin: 8vh 5%;
  display: flex;
  align-items: center;
  border: 5px solid #31312f;
  border-radius: 30px;
}
.banner img {
  height: 60vh;
}
.banner div .getin {
  font-size: 2vw;
  border-bottom: 2px solid black;
  display: inline-block;
}
.banner h1 {
  font-size: 4vw;
  margin: 1.5vw 0;
  line-height: 4vw;
}
.banner h1 span {
  color: #204caf;
}
.banner .info {
  font-size: 1.5vw;
}
.banner div button {
  background-color: #204caf;
  color: white;
  border: none;
  padding: 1vw 2vw;
  border-radius: 10px;
  margin-top: 1.5vw;
  cursor: pointer;
  font-size: 1.2vw;
}
/* -----BLOG SECTION----- */
.blog-right-img {
  background-image: url(../img/flat-creativity-concept-illustration.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 85vh;
  width: 45vw;
  right: 2vw;
  top: 15vh;
}
.left-text .explore {
  margin: 3vh 0;
}
.hero-left-text h1 span::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  rotate: -8deg;
  z-index: -1;
  border: 6px solid #eba139;
  height: 10vh;
  width: 15vw;
  right: 19vw;
  bottom: 0;
}
.blog-page2,
.blog-page3 {
  margin-top: 10vh;
  border-bottom: 2px solid #31312f;
}
.blog-page2 h1,
.blog-page3 h1 {
  font-size: 5vw;
}
.blog-page2 h1 span,
.blog-page3 h1 span {
  border-bottom: 5px dotted #31312f;
}
.blog-page2 h1 i,
.blog-page3 h1 i {
  color: #204caf;
  transform: scaleX(-1);
}
.art-crafts {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: space-around;
  text-align: center;
  color: #31312f;
  margin: 10vh 0;
}
.art-crafts div {
  position: relative;
  cursor: pointer;
}
.art-crafts div img:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 30px #31312f8f;
  transform: scale(1.02);
  rotate: -5deg;
}
.art-crafts div img {
  height: 100%;
  box-shadow: 0px 0px 10px #31312f8f;
  border-radius: 30px;
}
.art-crafts div h2 {
  position: absolute;
  bottom: 12vh;
  left: 5%;
  color: #31312f;
  backdrop-filter: blur(2px);
  padding: 2.5vh 2vw;
  font-size: 2.5vw;
  width: 90%;
}
.blog-page3 .art-crafts div img {
  height: 60vh;
  width: 25vw;
}
.blog-page3 button {
  padding: 1vw 2vw;
  font-size: 1.5vw;
  border-radius: 50px;
  border: none;
  background-color: #31312f;
  position: absolute;
  bottom: 6vh;
  left: 3vw;
  cursor: pointer;
}
.blog-page3 button a {
  color: #f3efea;
  text-decoration: none;
}
@media (max-width: 600px) {
  nav {
    height: 14vw;
    padding: 0 3vw;
  }
  nav p {
    font-size: 3.2vw;
  }
  nav i {
    font-size: 5vw;
  }
  nav span {
    margin-left: 0vw;
  }
  nav .info {
    gap: 2vw;
  }
  .info a {
    padding: 1vw 2vw;
  }
  .info a h4 {
    display: none;
  }
  .info a i {
    font-size: 4vw;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }
  .left {
    height: calc(55vh-14vw);
    width: 100vw;
    padding: 0vh 3vw;
  }
  .left-text {
    font-size: 4.5vw;
  }
  .left-text h1 span::after {
    left: -3vw;
    border: 5px solid #eba139;
    height: 8vw;
    width: 45vw;
  }
  .left-text p {
    font-size: 4vw;
    margin-top: 2.5vh;
    font-family: sans-serif;
  }
  .right {
    height: 45vh;
    width: 100vw;
  }
  .learn-more {
    padding: 2vw 4vw;
    font-size: 5vw;
    margin-top: 2.5vh;
  }
  .fetures {
    margin-top: 2.5vh;
    width: 100vw;
  }
  .fetures h3 {
    border: 1.5px solid #31312f;
    border-radius: 20px;
    padding: 2vw;
    font-size: 5vw;
    margin-top: 0vh;
  }
  .fetures h3 i {
    font-size: 5vw;
    margin-right: 2vw;
  }
  .fetures .deep {
    display: none;
  }
  .line {
    display: flex;
    justify-content: space-evenly;
  }
  .line :nth-child(2) {
    margin-left: 2vw;
  }
  .page2 {
    width: calc(100% - 6vw);
    min-height: 100vh;
    margin: 0 3vw;
  }
  .points {
    width: 94vw;
    height: 15vh;
    margin: 2.5vh 0vw 0vh 0;
  }
  .points div {
    font-size: 8vw;
  }
  .points h2 {
    font-size: 2.5vw;
    margin-top: 0.5vh;
  }
  .sub-heading {
    margin-bottom: 0vh;
  }
  .sub-heading h1 {
    font-size: 6.5vw;
    margin-top: 2.5vh;
  }
  .sub-heading h1 span::before {
    border: 5px solid #eba139;
    height: 3vh;
    width: 25vw;
    right: 18vw;
  }
  .sub-heading p {
    font-size: 3vw;
    margin-top: 2.5vh;
  }
  .special {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    /* justify-content: space-around; */
    /* text-align: center; */
    margin: 2.5vh 0;
  }
  .special div {
    position: relative;
    cursor: pointer;
  }
  .special div a {
    color: #31312f;
    text-decoration: none;
  }
  .special div img:hover {
    transition: all 0.3s;
    box-shadow: 0px 0px 30px #31312f8f;
    transform: scale(1.02);
    rotate: -5deg;
  }
  .special div img {
    height: 35vh;
  }
  .special div h2 {
    font-size: 5vw;
    margin: 2vh 0;
  }
  .special div i {
    right: 14vw;
    bottom: 10vh;
    font-size: 10vw;
  }
}
