<% layout('/layouts/boilerPlate') -%>
<link rel="stylesheet" href="css/signLogin.css" />
<div>
  <div class="main">
    <%- include('../includes/navbar')%>
    <div class="container">
      <form action="/login" method="post" class="form">
        <p class="login">Login</p>
        <label>
          <input
            class="input"
            type="email"
            placeholder=""
            required
            id="email"
            name="email"
          />
          <span>Email</span>
        </label>
        <label>
          <input
            type="password"
            class="input"
            placeholder=""
            required=""
            id="password"
            name="password"
          />
          <span>Password</span>
        </label>
        <button class="submit">Login</button>
        <div class="signup">
          Don’t have an account?
          <a href="/signup">Sign Up</a>
        </div>
        <div class="divider"></div>
      </form>
    </div>
  </div>
</div>
