<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="css/signLogin.css" />
<div>
  <div class="main">
    <%- include('../includes/navbar')%>
    <h1>SignUP on Student Management System</h1>
    <div>
      <form action="/signup" method="post">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required />
        </div>
        <div>
          <label for="email" class="form-lable">Email</label>
          <input type="email" name="email" id="email" required />
        </div>
        <div>
          <label for="password">password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <button>SignUP</button>
      </form>
    </div>
  </div>
</div>
